@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@layer base {
  *:lang(en) {
    font-family: "Roboto", sans-serif ;
  }
  *:lang(ar) {
    font-family: "Cairo", sans-serif;
  }
  html{
    @apply bg-background
  }
  
  /* input number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  :root{
    font-size: 14px;
  }
}
.ui.checkbox input.hidden+label{
  @apply text-gray 
}
.edit_search_input.ui.icon.input>input{
@apply bg-[#F6F8FC] rounded-[30px] md:w-[900px] w-full h-[45px] outline-none  
}
/* ///////////////////animate//////////////////////////// */
.animate-in {
  animation: fade-in 350ms ease-in-out forwards;
  scroll-margin-block-start: 0;
}
.animate-out {
  animation: fade-out 400ms ease-in-out forwards;
}
.scale-in {
  animation: scale-in 250ms ease-in-out forwards;
  scroll-margin-block-start: 0;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.98) ;
  }
}
/* //////////////////////////////////////////////////// */
/* //////////////////////////edit-For-groups-tabs////////////////////////// */
.edit-For-groups-tabs.ui.secondary.menu {
  @apply bg-background-sub
}
.edit-For-groups-tabs.ui.secondary.menu .item {
  @apply  text-xl px-8 mx-8 rounded-lg
}
.edit-For-groups-tabs.ui.secondary.menu .active.item {
  @apply bg-primary text-white text-xl px-8 rounded-lg
}
/* /////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////Edit_Pagination_App///////////////////// */
.Edit_Pagination_App.ui.pagination.menu .item{
  @apply bg-white outline-2 outline outline-primary flex justify-center p-0 min-w-[25px] min-h-[25px] rounded-l  !important
}
.Edit_Pagination_App.ui.secondary.menu .active.item{
  @apply bg-primary text-white !important
}
.Edit_Pagination_App.ui.menu>.item:first-child{
  @apply text-green font-bold text-xl
  
}
.Edit_Pagination_App.ui.menu>.item:last-child{
  @apply text-green font-bold text-xl
}
/* /////////////////////////////////////////////////////////////////////// */
.Edit_FormikMultiDropdown.ui.fluid.dropdown {
  @apply rounded-xl py-[12px] 
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
@apply rounded-xl py-[12px] 
}